<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>Vizlore ActivityRecognition</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

<h1>Vizlore ActivityRecognition</h1>
<br/>

<div>
    <h2>Data upload form</h2>

    <div>
        <span id="drop_zone_acc" class="drop_zone">Drop acceleration files here</span>
        <span id="drop_zone_gyo" class="drop_zone">Drop gyroscope files here</span>
        <input type="file" id="file_acc" name="files[]" class="file_chooser"/>
        <input type="file" id="file_gyo" name="files[]" class="file_chooser"/>
    </div>

    <p id="output"></p>
    <button id="submit_button">Submit</button>

</div>

<div>
    <h2>Activity recognition</h2>

    <div>

        <label for="current_activity">Current activity:</label>
        <input id="current_activity" type="checkbox">

        <label for="start_ts">Start time stamp:</label>
        <input id="start_ts" type="text" name="start_ts" value="0" disabled>


        <label for="end_ts">End time stamp: </label>
        <input id="end_ts" type="text" name="end_ts" value="0" disabled>

        <label>
            <select onchange="set_algorithm(this.value)">
                <option value="svm">Support Vector Machine</option>
                <option value="dt">Decision Tree Classifier</option>
            </select>
        </label>

        <label>
            <select onchange="set_feature_set(this.value)">
                <option value="standard">Standard Feature Set</option>
                <option value="enhanced">Extended Feature Set</option>
            </select>
        </label>

        <div id="slider-range"></div>
        <button id="activity_button">Recognise Activity</button>
    </div>

    <output id="list"></output>
</div>

<script type="text/javascript" src="static/logic.js"></script>

<script type="text/javascript">

</script>

</body>
</html> 