<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vizlore.fic" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DemoFIContent</name>
    <description>
        A sample App.
    </description>
    <author email="danko.gutesa@vizlore.com" href="http://www.vizlore.com">
        LCI Team
    </author>
    <content src="index.html" />
    <access origin="*" />
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="5000" />
<preference name="Orientation" value="portrait" />

<platform name="android">
	<icon src="res/icons/mdpi.png" density="ldpi" />
	<icon src="res/icons/mdpi.png" density="mdpi" />
	<icon src="res/icons/hdpi.png" density="hdpi" />
	<icon src="res/icons/xhdpi.png" density="xhdpi" />
	<icon src="res/icons/xxhdpi.png" density="xxhdpi" />
 </platform>

 <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/splash_screen/splash_screen.png" density="land-hdpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="land-ldpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="land-mdpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="land-xhdpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="land-xxhdpi"/>

    <splash src="res/splash_screen/splash_screen.png" density="port-hdpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="port-ldpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="port-mdpi"/>
    <splash src="res/splash_screen/splash_screen.png" density="port-xhdpi"/>
	<splash src="res/splash_screen/splash_screen.png" density="port-xxhdpi"/>
</platform>

 
</widget>
